<?xml version="1.0"?>
<launch>
    <arg name="hardware_cameras" default="true" />

    <arg name="standalone" default="false" />

    <include file="$(find earth_rover_robot_ui_infra)/launch/web_bridge.launch"/>

    <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" unless="$(arg standalone)" />

    <include file="$(find earth_rover_weeder_vision)/launch/stereo_system.launch">
        <arg name="launch_cameras"                  value="$(arg hardware_cameras)"/>

        <arg name="standalone"                value="$(arg standalone)"/>

        <arg name="manager_left"   value="/nodelet_manager"/>
        <arg name="manager_right"   value="/nodelet_manager"/>
    </include>

    <!-- ROS_NAMESPACE=/stereo roslaunch earth_rover_weeder_vision focus_camera.launch stereo:=true input:=image_color -->
    <include file="$(find earth_rover_weeder_vision)/launch/focus_camera.launch" ns="stereo">
        <arg name="stereo" value="true"/>
        <arg name="input" value="image_color"/>
    </include>


    <!-- roslaunch earth_rover_weeder_vision calibrate_camera.launch stereo:=true input:=stereo -->
    <include file="$(find earth_rover_weeder_vision)/launch/calibrate_camera.launch">
        <arg name="stereo" value="true"/>
        <arg name="input" value="stereo"/>
    </include>
</launch>
